body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(66, 142, 230, 0.479); 
}
.conteiner {
    width: auto;
    height: auto;
}

.label {
    margin-left: 145px;
    padding: 20px;
    font-size: 22px;
    border-bottom: 4px;
}

#myInput {
    background-color: #e4dcdc;
    margin: 10px 0 0 45px;
    border-color: rgb(23, 130, 236); 
    border-bottom: 2px;
    padding: 10px 400px 10px 20px;
    
}

span {
    background-color: #291297;
    color: #FFFFFF;
    margin-right: 5px;
    border-radius: 4px;
    padding: 9px;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #17912f;
    color: white;
}

#myInput:hover{
    border-color: rgb(255, 255, 255);
    
}
span:hover {
    background-color: #C3C0C0;
    color: #000000;
}
ul{
    left: 100px;
    text-decoration: none;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    border: 2px solid rgb(53, 40, 235);
    margin: 3px;
    list-style-type: none;
}

li p {
    color: rgb(146, 143, 143);
    width: 155px;
}

ul li:nth-child(odd) {
    background: #ffffff;
}

ul li:hover {
    background: rgb(177, 191, 253);
}

ul li.checked {
    background: #179127;
    color: rgb(255, 255, 255);
    text-decoration: line-through;
}

li.checked p{
    color: white;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.edit {
    position: absolute;
    right: 60px;
    top: 30px;
    padding: 12px 16px 12px 16px;
}

.edit:hover {
    background-color: #f3d646;
    color: white;
}

#editeds{
    width: 80%;
    background-color: #e4dcdc;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(38, 0, 255);
}